.header {
    background-color:  #000000;
    color: #ffffff;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    // padding-top: 50px;
    height: 90vh;
    width: 100vw;
    background-color: #181a1b;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('https://img.freepik.com/free-photo/growth-business-finance-chart-white-money-stock-graph-data-3d-background-digital-investment-economy-market-profit-financial-banking-graphic-pattern-currency-trading-price-website-wallpaper_79161-2049.jpg?w=2000');
    flex-direction: column;
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    background: linear-gradient(blue, rgb(0, 0, 0)) url('https://img.freepik.com/free-photo/growth-business-finance-chart-white-money-stock-graph-data-3d-background-digital-investment-economy-market-profit-financial-banking-graphic-pattern-currency-trading-price-website-wallpaper_79161-2049.jpg?w=2000'); 
    // leniar-gradient(#000000, #000000);

}

.container-body {
    // background-color: #4a4848;
    min-height: 80vh;
    width: 70vw;
    background-color: #181a1b;
    z-index: 1;
    border-radius: 2%;
    border: 1px solid #4f4b44;
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-container-body {
    height: 80vh;
    width: 70vw;
    background-color: #181a1b;
    z-index: 1;
    border-radius: 2%;
    border: 1px solid #000000;
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}